/* Add CSS Styling */

.class1,
.class2{
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}


.class1{
    color: #ffffff;
    background-color: #000000;
}

.class2{
    background-color: #ffff00;
}